name: tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run Tests with Coverage
        run: gradle check

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: Wiesmak/YHKCatPrint
          codecov_yml_path: ./codecov.yml
          files: /home/runner/work/YHKCatPrint/YHKCatPrint/build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.xml
          fail_ci_if_error: true
          verbose: true